.body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
}

.stay__client__script__form.active, .stay__client__script__form__confirm, .stay__client__script__form, .header__script__form.active, .header__script__form__confirm, .header__script__form, .footer__phone, .footer__top, .stay__client__form__confirm, .stay__client__form, .step__description__block, .how__stay__promocod, .how__stay, .how__step, .how__steps, .how, .support__block__text__mail, .support__block__text__phone, .support__block, .support, .privilege__planing__input__block, .privilege__planing__form, .privilege__planing, .privilege__parking__description, .privilege__parking__cart, .privilege__parking, .privilege__content, .service__block, .service__blocks, .service, .header__form__confirm, .header__form, .header__content, .header__main, .header__phone, .header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}
.header::before {
  content: " ";
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(18, 25, 32, 0.78);
}
.header__bg {
  background: url(/img/bg_header.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.header__bg::before {
  content: " ";
  position: absolute;
  z-index: 2;
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.95) 0%, rgba(18, 25, 32, 0) 100%);
  width: 100%;
  height: 184px;
}
.header__bg::after {
  content: " ";
  position: absolute;
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.95) 0%, rgba(18, 25, 32, 0) 100%);
  width: 100%;
  height: 184px;
  transform: rotate(180deg);
  top: 644px;
}
.header__top {
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 77px;
  position: relative;
}
.header__logo {
  z-index: 2;
  transition: 0.3s;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__phone {
  z-index: 2;
  gap: 10px;
  font-size: 22px;
  font-weight: 300;
}
.header__main {
  position: relative;
  gap: 120px;
  padding-bottom: 21px;
  align-items: normal;
}
.header__content {
  padding-top: 135px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.header__content__head {
  font-size: 64px;
  font-weight: 700;
  width: 599px;
  padding-bottom: 13px;
}
.header__content__head__span {
  color: #F8BE4D;
}
.header__content__heading {
  font-size: 38px;
  font-weight: 300;
  width: 599px;
  padding-bottom: 46px;
}
.header__content__button {
  margin-bottom: 31px;
  width: 290px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #F8BE4D;
  font-size: 17px;
  font-weight: 700;
  color: #FFF;
  background: none;
  transition: 0.3s;
}
.header__content__button:hover {
  background: #F8BE4D;
  color: black;
}
.header__content__list__li {
  padding-left: 2rem;
  list-style-type: none;
  width: 385px;
  color: #88939e;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 16px;
  position: relative;
}
.header__content__list__li::before {
  content: "-";
  color: #F8BE4D;
  position: absolute;
  font-size: 60px;
  left: 0;
  padding-right: 11px;
}
.header__content__list__li__span {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header__form {
  margin-top: 77px;
  position: relative;
  width: 330px;
  height: 279px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  flex-direction: column;
  font-size: 17px;
  font-weight: 700;
}
.header__form__heading {
  padding-bottom: 39px;
}
.header__form__confirm {
  flex-direction: column;
}
.header__form__input {
  width: 278px;
  height: 50px;
  border-radius: 5px;
  background: #3a434c;
  font-size: 15px;
  font-weight: 400;
  color: #88939e;
  padding-left: 19px;
  margin-bottom: 18px;
  transition: 0.3s;
}
.header__form__input:hover {
  opacity: 0.7;
}
.header__form__button {
  position: absolute;
  top: 245px;
  width: 278px;
  height: 60px;
  border-radius: 5px;
  background: #F8BE4D;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s;
}
.header__form__button:hover {
  background: none;
  color: #FFF;
  border-color: #F8BE4D;
}

.up {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .header__bg::after {
    top: 860px;
  }
  .header__main {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .header__content {
    padding-top: 0px;
  }
  .header__form {
    z-index: 3;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .header__top {
    flex-direction: column;
    gap: 10px;
  }
  .header__phone {
    font-size: 16px;
  }
  .header__bg::after {
    top: 930px;
  }
  .header__content {
    align-items: center;
  }
  .header__content__head {
    width: 300px;
    font-size: 40px;
  }
  .header__content__heading {
    width: 300px;
    font-size: 30px;
  }
}
.header__form.active {
  display: none;
}

.service {
  padding-top: 75px;
  flex-direction: column;
  background: #121920;
}
.service__blocks {
  gap: 30px;
}
.service__block {
  margin-top: 33px;
  flex-direction: column;
  width: 240px;
  height: 380px;
  align-items: flex-start;
  gap: 24px;
  padding-left: 24px;
  border-radius: 5px;
  border: 1px solid #1b242d;
  background: #121920;
  justify-content: start;
  padding-top: 34px;
  margin-bottom: 21px;
  transition: 0.3s;
}
.service__block:hover {
  background: #F8BE4D;
}
.service__block:hover path {
  fill: black;
}
.service__block:hover .service__block__heading {
  color: black;
}
.service__block:hover .service__block__text {
  color: black;
}
.service__block__head {
  padding-top: 75px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 38px;
  font-weight: 300;
}
.service__block__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.service__block__text {
  color: #88939e;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .service__blocks {
    display: grid;
    grid-template-columns: 240px 240px;
    margin-top: 33px;
  }
  .service__block {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  .service__blocks {
    grid-template-columns: 240px;
    gap: 10px;
  }
  .service__block {
    height: 280px;
    padding-top: 24px;
    gap: 10px;
  }
  .service__block__head {
    font-size: 30px;
    text-align: center;
  }
}
.privilege {
  background: url(/img/bg_privilege.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.privilege::before {
  content: " ";
  position: absolute;
  z-index: 2;
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.95) 0%, rgba(18, 25, 32, 0) 100%);
  width: 100%;
  height: 184px;
}
.privilege__content {
  position: relative;
  z-index: 2;
  flex-direction: column;
}
.privilege__heading {
  font-size: 38px;
  font-weight: 300;
  margin-top: 77px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 82px;
}
.privilege__parking {
  gap: 30px;
}
.privilege__parking__cart {
  flex-direction: column;
  width: 420px;
  height: 317px;
}
.privilege__parking__cart__img {
  z-index: 3;
}
.privilege__parking__cart__bg1 {
  width: 316px;
  height: 198px;
  border-radius: 10px;
  opacity: 0.7;
  background: #2a2f35;
  z-index: 1;
  position: absolute;
  top: 180px;
}
.privilege__parking__cart__bg2 {
  top: 200px;
  width: 366px;
  height: 230px;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 2;
  background: #2a2f35;
  position: absolute;
}
.privilege__parking__description {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 420px;
  height: 186px;
}
.privilege__parking__description__heading {
  color: #F8BE4D;
  font-size: 30px;
  font-weight: 700;
  line-height: 14px;
}
.privilege__parking__description__text {
  color: #88939e;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.privilege__parking__description__text__span {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.privilege__planing {
  flex-direction: column;
  margin-bottom: 82px;
}
.privilege__planing__heading {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 28px;
  font-weight: 300;
  margin-top: 53px;
  margin-bottom: 15px;
}
.privilege__planing__form {
  gap: 20px;
}
.privilege__planing__input {
  color: #88939e;
  font-size: 15px;
  font-weight: 400;
  background: none;
  width: 274px;
  height: 50px;
  border: none;
  transition: 0.3s;
}
.privilege__planing__input:hover {
  opacity: 0.7;
}
.privilege__planing__input__block {
  border-bottom: 1px solid #3a434c;
  gap: 14px;
}
.privilege__planing__button {
  border-radius: 5px;
  border: 1px solid #f8be4d;
  font-size: 17px;
  font-weight: 700;
  padding: 15px 44px;
  transition: 0.3s;
}
.privilege__planing__button:hover {
  background: #F8BE4D;
  color: black;
}

@media (max-width: 1024px) {
  .privilege__parking {
    flex-direction: column;
  }
  .privilege__parking__description {
    height: 140px;
  }
  .privilege__planing {
    margin-bottom: 40px;
  }
  .privilege__planing__form {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .privilege__heading {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .privilege__parking__cart {
    display: none;
  }
  .privilege__parking__description {
    align-items: center;
    width: 300px;
    gap: 10px;
  }
  .privilege__parking__description__heading {
    font-size: 24px;
    text-align: center;
  }
  .privilege__parking__description__text {
    font-size: 16px;
  }
}
.support {
  padding-top: 52px;
  flex-direction: column;
  background: #121920;
}
.support__blocks {
  margin-top: 33px;
  gap: 30px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  margin-bottom: 29px;
}
.support__block {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  background: #fff;
  height: 400px;
  padding-bottom: 27px;
  transition: 0.3s;
}
.support__block:hover {
  opacity: 0.7;
}
.support__block:hover path {
  opacity: 0.7;
}
.support__block:hover .service__block__heading {
  opacity: 0.7;
}
.support__block:hover .service__block__text {
  opacity: 0.7;
}
.support__block__head {
  padding-top: 61px;
  padding-bottom: 9px;
  font-size: 38px;
  font-weight: 300;
}
.support__block__img {
  height: 208px;
  display: flex;
  overflow: hidden;
}
.support__block__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #1b242d;
}
.support__block__text {
  color: #88939e;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 196px;
  text-align: center;
}
.support__block__text__phone {
  gap: 10px;
}
.support__block__text__mail {
  gap: 10px;
}
.support__block__contacts {
  color: #121920;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.support__img {
  height: 100%;
}
.support__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.fedotova {
  transform: scale(1.4);
  position: absolute;
  top: 40px;
}
.fedotova__block {
  position: relative;
  width: 160px;
}

@media (max-width: 1024px) {
  .support__blocks {
    grid-template-columns: 240px 240px;
  }
  .support__block__head {
    padding-top: 0;
  }
}
@media (max-width: 425px) {
  .support__blocks {
    grid-template-columns: 240px;
  }
  .support__block__head {
    font-style: 30px;
    text-align: center;
  }
}
.how {
  background: url(/img/bg_privilege.png);
  flex-direction: column;
  position: relative;
  background-position: center;
  background-size: cover;
}
.how__heading {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 77px;
  margin-bottom: 69px;
  font-size: 38px;
  font-weight: 300;
}
.how__step {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 75px;
}
.how__stay {
  margin-bottom: 96px;
  gap: 91px;
}
.how__stay__promocod {
  flex-direction: column;
  gap: 51px;
  align-items: flex-start;
}
.how__stay__promocod__text {
  color: #88939e;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 449px;
  height: 50px;
}
.how__stay__promocod__text__span1 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.how__stay__promocod__text__span2 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.how__stay__form__head {
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
}
.how__stay__form__text {
  color: #88939e;
  font-size: 18px;
  font-weight: 400;
  padding-left: 19px;
}
.how__stay__form__text__block {
  display: flex;
  width: 400px;
  padding-top: 15px;
  padding-bottom: 25px;
}
.how__stay__form__text__border {
  height: 44px;
  width: 2px;
  border-left: 2px solid #F8BE4D;
}

.step__numer {
  color: #232a32;
  font-size: 100px;
  font-weight: 900;
  padding-bottom: 35px;
}
.step__line {
  border-bottom: 2px solid #F8BE4D;
  width: 36px;
  margin-bottom: 35px;
}
.step__description__block {
  gap: 32px;
  width: 337px;
  height: 103px;
  font-size: 20px;
  font-weight: 400;
}

.stay__client__form {
  flex-direction: column;
  position: relative;
  width: 330px;
  height: 279px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 17px;
  font-weight: 700;
}
.stay__client__form__heading {
  padding-bottom: 39px;
}
.stay__client__form__confirm {
  flex-direction: column;
}
.stay__client__form__input {
  width: 278px;
  height: 50px;
  border-radius: 5px;
  background: #3a434c;
  font-size: 15px;
  font-weight: 400;
  color: #88939e;
  padding-left: 19px;
  margin-bottom: 18px;
  transition: 0.3s;
}
.stay__client__form__input:hover {
  opacity: 0.7;
}
.stay__client__form__button {
  position: absolute;
  top: 245px;
  width: 278px;
  height: 60px;
  border-radius: 5px;
  background: #F8BE4D;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s;
}
.stay__client__form__button:hover {
  background: none;
  color: #FFF;
  border-color: #F8BE4D;
}

@media (max-width: 1024px) {
  .how__heading {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .how__steps {
    flex-direction: column;
  }
  .how__step {
    flex-direction: row;
    margin-bottom: 0;
  }
  .how__stay {
    flex-direction: column;
    gap: 45px;
  }
  .step__line {
    margin-top: 50px;
    transform: rotate(90deg);
  }
  .step__numer {
    font-size: 80px;
  }
}
@media (max-width: 425px) {
  .how {
    align-items: center;
  }
  .how__heading {
    font-size: 30px;
  }
  .how__stay {
    width: 330px;
    margin-top: 40px;
    text-align: center;
  }
  .how__stay__promocod__img {
    display: none;
  }
  .how__stay__form__text__block {
    width: 300px;
  }
  .step__numer {
    display: none;
  }
}
.stay__client__form.active {
  display: none;
}

.footer__top {
  background: black;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer__logo {
  z-index: 2;
  transition: 0.3s;
}
.footer__logo:hover {
  opacity: 0.7;
}
.footer__logo path {
  fill: #61666b;
}
.footer__phone {
  z-index: 2;
  gap: 10px;
  font-size: 22px;
  font-weight: 300;
  color: #61666b;
}
.footer__phone path {
  fill: #61666b;
}

@media (max-width: 425px) {
  .footer__top {
    flex-direction: column;
    gap: 10px;
  }
  .footer__phone {
    font-size: 16px;
  }
}
.header__script__form {
  margin-top: 77px;
  position: relative;
  width: 330px;
  height: 279px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  flex-direction: column;
  font-size: 17px;
  font-weight: 700;
  display: none;
}
.header__script__form__heading {
  padding-bottom: 39px;
}
.header__script__form__confirm {
  flex-direction: column;
}
.header__script__form__button {
  position: absolute;
  top: 245px;
  width: 278px;
  height: 60px;
  border-radius: 5px;
  background: #F8BE4D;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s;
}
.header__script__form__button:hover {
  background: none;
  color: #FFF;
  border-color: #F8BE4D;
}

.header__script__form.active {
  flex-direction: column;
}

.stay__client__script__form {
  position: relative;
  width: 330px;
  height: 279px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  flex-direction: column;
  font-size: 17px;
  font-weight: 700;
  display: none;
}
.stay__client__script__form__heading {
  padding-bottom: 39px;
}
.stay__client__script__form__confirm {
  flex-direction: column;
}
.stay__client__script__form__button {
  position: absolute;
  top: 245px;
  width: 278px;
  height: 60px;
  border-radius: 5px;
  background: #F8BE4D;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s;
}
.stay__client__script__form__button:hover {
  background: none;
  color: #FFF;
  border-color: #F8BE4D;
}

.stay__client__script__form.active {
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 525px);
  padding-right: calc(50% - 525px);
}

.body {
  overflow: hidden;
  color: #FFF;
}/*# sourceMappingURL=main.css.map */